body {
    color: pink;
    font-style: oblique;
  }
  
  h1, #designed-by {
    text-align: center;
    /* your styles here */
  }
  
  .style1 {
    background-color: #8a3737;
  }
  
  .style2 {
    background-color: #26c286;
  }
  
  .style3 {
    background-color: #1a1a9e;
  }
  
  .style4 {
    background-color: #e68e8e;
  }
  
  .style5 {
    background-color: #63638a;
  }
  
  .style6 {
    background-color: #e9108e;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }